my_venv/
logs/*
!logs/
download_data/*
!download_data/

!*/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# poetry
.poetry.lock
