my_venv/
logs/*
!logs/
download_data/*
!download_data/

!*/.gitkeep

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# poetry
.poetry.lock
poetry.lock

# vscode
.vscode/
.prettierrc
.editorconfig
